
<div class="row">
  <nav class=" col-sm-12 col-md-3 col-lg-2 sidebar">
    <button type="button" class="picButton"  (click)="openEditPictureModal()">
      <div class="profilePic">
        <img [src]="bgImage || '../assets/img/website/employees.png'" alt="">
        <div class="hoverWords"> Change Picture </div>
      </div>  
    </button>
    <!-- <div class="profilePic"></div> -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" ><h2>
          <span data-feather="home"></span>
            Dashboard
          <span class="sr-only">(current)</span>
        </h2></a>
      </li>
      <li class="nav-item">
        <button type="button"  class="nav-link" (click)="openEditProfileModal()">
          <span><i class="fas fa-user"></i></span>
          Edit Profile
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="nav-link" (click)="openEditPortfolioModal()">
          <span><i class="far fa-edit"></i></span>
          Edit Portfolio
        </button>
      </li>
      <li class="nav-item">
          <button type="button" class="nav-link" routerLink="/adv-search">
            <span><i class="fas fa-search"></i></span>
            Advance Search
          </button>
      </li>
      <li class="nav-item">
        <button type="button"  class="nav-link" routerLink="/public">
          <span><i class="far fa-address-card"></i></span>
          Public View
        </button>
      </li>
    </ul>

    </nav>
  <main class="col-sm-12 col-md-9 col-lg-10 ">
  </main>
  <!-- modal child components -->
  <app-pic-modal [ngStyle]="{'display':displayPicture}"></app-pic-modal>
  <app-edit-profile [ngStyle]="{'display':displayProfile}"></app-edit-profile>
  <app-edit-portfolio [ngStyle]="{'display':displayPortfolio}"></app-edit-portfolio>

</div>



  
    
  
