<div class="container">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <div class="profilePic"></div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" >
              <span data-feather="home"></span>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <button type="button"  class="nav-link" (click)="openEditProfileModal()">
              <span><i class="fas fa-user"></i></span>
              Edit Profile
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" (click)="openEditPortfolioModal()">
              <span><i class="far fa-edit"></i></span>
              Edit Portfolio
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" >
    </main>
    <!-- modal child components -->
    <app-edit-profile [ngStyle]="{'display':displayProfile}"></app-edit-profile>
    <app-edit-portfolio [ngStyle]="{'display':displayPortfolio}"></app-edit-portfolio>

  </div>
</div>




  
    
  