.nav-link, button{
    background: transparent;
    border-color: transparent;
}

/* .picButton, img{
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
} */
.picButton:focus{
    outline: none;
}
img{
    object-fit: contain;
}
.profilePic, img {
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #343a40;
}
.hoverWords{
    display: none;
    color: white;
    position: absolute;
    top: 45%;
    right: 13%;
    /* top: 66px;
    right: 20px; */

    


    /* transform: translate(-50%, -50%); */
}
.picButton:hover .hoverWords{
    display: block;
    
}
.sidebar {
    bottom: 0;
    left: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color:  #ced4da;
    min-height: 94vh;
    padding-top: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-right: 0px;
}
/* 
.profilePic, img {
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #007bff;
} */

.row{
    margin-right: 0;
}

@media only screen and (max-width: 1125px){
    h2{
        font-size: 27px;
    }
}
@media only screen and (max-width: 767px){
    .sidebar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        min-height: 5vh !important;
    }
    .profilePic, img{
        height: 120px;
        width: 120px;
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 0;
    }
    .nav-link .active {
        padding-top: 0;
    }
    .hoverWords{
        top: 40%;
        right: 3%;
    }

}

