<div class="container">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <div class="profilePic"></div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" >
              <span data-feather="home"></span>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <button type="button"  (click)="openModal()">
              <span><i class="fas fa-user"></i></span>
              Edit Profile
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span><i class="far fa-edit"></i></span>
              Edit Portfolio
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <!-- <div class="backdrop" [ngStyle]="{'display':display}"></div>
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
      <app-edit-profile></app-edit-profile>
    </div> -->
  </main>

  </div>
  <div class="backdrop" [ngStyle]="{'display':display}"></div>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <app-edit-profile></app-edit-profile>
  </div>
</div>




  
    
  