.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
}

.form-control {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255,255,255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-sticky {
    position: fixed;
    top: 48px;
}
.profilePic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #007bff;
    margin-left: 35px;
    margin-bottom: 2em;
    /* margin-right: auto; */
}
@media only screen and (max-width: 1025px) {
    .profilePic {
        margin-left: 20px;
    }
}