<div class="container">
    <div class="container-fluid">  
        <form>
            <div class="row top-page">
              <div class= "col-md-6 form-label-group">
                <label for="inputFName">First Name:</label>
                <input type="text" id="inputFName" class="form-control" placeholder="">
              </div>
              <div class= "col-md-6 form-label-group">
                <label for="inputLName">Last Name:</label>
                <input type="text" id="inputLName" class="form-control" placeholder="">
              </div>
            </div>
            <div class="row middle-page">
                <div class= "col-md-6 form-label-group">
                    <label for="inputEmail">Email:</label>
                    <input type="text" id="inputEmail" class="form-control" placeholder="">
                </div>
                <div class= "col-md-6 form-label-group">
                    <label for="inputPhone">Phone Number:</label>
                    <input type="text" id="inputPhone" class="form-control" placeholder="">
                </div>
            </div>
            <div class= "form-label-group">
                <label for="inputTwitter">Twitter Account:</label>
                <input type="text" id="inputTwitter" class="form-control" placeholder="">
            </div>
                
            <div class= "form-label-group">
                <label for="inputFB">Facebook Account:</label>
                <input type="text" id="inputFB" class="form-control" placeholder="">
            </div>
            <div class = "about-me">
                <label for="textArea">About me:</label>
                <textarea class="form-control" id="textArea" rows="4"></textarea>
            </div>
        </form>

        <button type="button" class="btn btn-md btn-block btn-primary">Save</button> 
    </div>
</div>
