/* BASE COLOR SCHEME: LIGHT GREY: #DDDEDE, BLACKISH: #232122, HOUSEPLANT: #A5C05B, BLUE GREY #7BA4A8 */


h1 {
    text-align: center;
}

.search-result {
    min-height: 180px;
    margin-top: 20px;
    border: 6px solid #232122;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #7ba4a8;
    padding: 10px 0px; 
}

.search-result-icon-circle {
    height: 150px;
    width: 150px;
    margin-top: 10px;
    border: 3px solid #7ba4a8; 
}

.search-result-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-middle {
    display: flex;
    flex-direction: column;
}

.search-result-stat-button-row {
    margin-top: 5px;
}

.search-result-stat-button-row button {
    width: 100%;
    border: 0;
    padding: 10px 0px;
}

.search-result-button-1 {
    background-color: #dddede;
}

.search-result-button-2 {
    background-color: #7ba4a8;
}

.search-result-button-3 {
    background-color: #a5c05b;
}

.search-result-button-4 {
    background-color: #232122;
    color: #dddede;
}

.search-result-name-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-summary {
    margin: 0px;
}