.error-container {
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}