<div class="coverImage">
 <div class="container">
    <div class="container-fluid">
      <div class="backButton">
          <a href="http://localhost:4200/login-page"><i class="backButton4 fas fa-arrow-circle-left fa-3x"></i></a>
      </div>
      <form class="form-signin">
        <div class="text-center mb-4">
          <h1 class=" coloredText mt-5 mb-3 font-weight-normal logotext">ShowOff</h1>
        </div>
        <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control" placeholder="E-Mail" required autofocus>
        </div>
        <div class="form-label-group">
          <input type="text" id="inputUsern" class="form-control" placeholder="Username" required>
        </div>
        <div class="form-label-group">
          <input type="text" id="inputFirstname" class="form-control" placeholder="First Name" required>
        </div>
        <div class="form-label-group">
          <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required>
        </div>
        <div class="form-label-group">
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-label-group">
          <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
        </div>
        <button class="Long btn btn-lg btn-block btn-secondary" type="submit">Register </button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
      </form>
    </div>
  </div>
</div>