<div class="coverImage">
  <div class="container">
    <div class="container-fluid">
      <div class="backButton">
          <a href="http://localhost:4200/login-page"><i class="backButton4 fas fa-arrow-circle-left fa-3x"></i></a>
      </div>
      <div class="text-center mb-4">  
        <img src="../assets/img/website/showoff-logo-no-border.png" class="imageLogo" alt="showOff Logo">
      </div>
      <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate >
        <!-- If username and email already exists -->
        <div class="alert alert-danger" *ngIf="registerDupe === true">
          Please enter another username or Email.
        </div>

        <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control" placeholder="E-Mail" formControlName="email" required email autofocus >
        </div>
        <!-- email errors -->
        <div *ngIf="form.controls.email.errors?.email && form.controls.email.dirty && form.controls.email.touched" class="alert alert-danger">
            Invaild email
        </div>
        <div class="form-label-group">
          <input type="text" id="inputUsern" class="form-control" placeholder="Username" formControlName="username"required>
        </div>
        <!-- username email -->
        <div *ngIf=" form.controls.username.errors?.required && (form.controls.username.dirty || form.controls.username.touched)" class="alert alert-danger">
            Name is required.
        </div>
        <div class="form-label-group">
          <input type="text" id="inputFirstname" class="form-control" placeholder="First Name" formControlName="firstName" required>
        </div>
        <!-- first name error -->
        <div *ngIf=" form.controls.firstName.errors?.required && (form.controls.firstName.dirty || form.controls.firstName.touched)" class="alert alert-danger">
            First name is required.
        </div>
        <div class="form-label-group">
          <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" formControlName="lastName" required>
        </div>
        <!-- last name error -->
        <div *ngIf=" form.controls.lastName.errors?.required && (form.controls.lastName.dirty || form.controls.lastName.touched)" class="alert alert-danger">
            Last Name is required.
        </div>
        <div class="form-label-group">
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"  required>
        </div>
        <div class="form-label-group">
          <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" required>
        </div>
         <!-- password match error -->
        <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.passwordVal && (form.controls.confirmPassword.dirty && form.controls.confirmPassword.touched)">
          Passwords do not match
        </div>

        

      
       
        
        <!-- <pre>{{form.value | json}}</pre>
        <pre>Form status: {{ form.status | json }}</pre> -->
        <button class="btn btn-lg btn-block btn-secondary" type="submit" [disabled]="form.invalid">Register </button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
      </form>
    </div>
  </div>
</div>

