<div class="container">
  <div class="container-fluid">
    <form class="form-signin">
      <div class="text-center mb-4">
        <h1 class=" h3 mt-5 mb-3 font-weight-normal logotext">showOff</h1>
        <img src="assets/img/curriculum.png" alt="showOff Logo Img Temporary">
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="E-Mail" required autofocus>
      </div>
      <div class="form-label-group">
        <input type="text" id="inputUsern" class="form-control" placeholder="Username" required>
      </div>
      <div class="form-label-group">
        <input type="text" id="inputFirstname" class="form-control" placeholder="First Name" required>
      </div>
      <div class="form-label-group">
        <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required>
      </div>
      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <div class="form-label-group">
        <input type="password" id="inputPasswordAgain" class="form-control" placeholder="Password" required>
      </div>

      <button class="btn btn-lg btn-block btn-primary" type="submit">Register </button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
    </form>
  </div>
</div>