.form-signin {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.logotext {
    padding-top: 9%;
}

img {
    width: 50%;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
    background-color: #DDDEDE;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.backButton {
    position: absolute;
}

.coverImage {
    min-width: 100%;
    background-size : cover;
    background-image: url("https://storage.googleapis.com/show_off/text.png");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}