.form-signin {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.logotext {
    padding-top: 9%;
}

img {
    width: 50%;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
    background-color: #DDDEDE;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.coverImage {
    background-size : cover;
    background-image: url("https://storage.googleapis.com/show_off/branko-stancevic-417172-unsplash.jpg");
    background-repeat: repeat;
    background-position: stretch;
    margin-top: -60px;
    margin-bottom: -100px;
    height: 97.9vh;
}

.imageLogo {
    max-width: 30%;
    padding: 10px 0;
}

.backButton4 {
    color: #DDDEDE;
    margin-top: 75px;
}

form div {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

form {
    background-color: rgba(12, 12, 12, 0.75);
}