/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli|Yeseva+One');
@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Josephine, Slab, Bold, Open Sans, Pacifico, Oswald */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yeseva One', 'cursive';
    color: #A5C05B;
}

body {
  background-color: #7BA4A8;
}