.forgot-password-container {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}

.forgot-password-container-child {
    text-align: center;
}

input {
    width: 80%;
    margin-left: 10%;
}

button {
    margin-top: 20px;
}
.backButton3 {
    padding-top: 10px;
    color: #DDDEDE;
}

@media only screen and (max-width: 768px) {
    .forgot-password-container {
        width: 100%;
        margin-left: 0;
    }

    input {
        width: 100%;
        margin-left: 0;
    }
}