<div class="forgot-password-container container">
    <div class = "container-fluid">
        <div class="backButton">
            <a href="" routerLink="/"><i class=" backButton3 fas fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div class="forgot-password-container-child">
            <h1>Forgot your password?</h1>
            <p>It's okay. It happens to the best of us. We still need to make sure that you are actually you, so please input your email address and an email with the necessary information will be sent.</p>
        </div>
        <form class="forgot-password-container-child">
            <div class="form-group">
            <img src="./../../../assets/img/contact/black-envelope-64.png" alt="envelope icon">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <button class="btn btn-secondary">Submit</button>
            </div>
        </form>
    </div>
</div>