<div class="forgot-password-container">
    <div class="forgot-password-container-child">
        <h1>Forgot your password?</h1>
        <p>It's okay. It happens to the best of us. We still need to make sure that you are actually you, so please input your email address and an email with the necessary information will be sent.</p>
    </div>
    <form class="forgot-password-container-child">
        <div class="form-group">
          <img src="./../../../assets/img/public-icons/black-envelope-64.png" alt="envelope icon">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>