.personalIcon, .selectSkills{
    margin-top: 1em;
}
.allProjects{
    margin-top: 2em;
}
.form-label-group {
    margin-top: 1em;
}
.save {
    width: 300px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog {
    max-width: 750px;
    display: flex;
    align-items: center;
    margin-top: 3em;
}
.modal{
    display:none;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(27, 20, 20, 0.77);
}

.modal-content{
    background-color:#DDDEDE;
    width:750px;
    animation-name:modalopen;
    animation-duration:1s;
}

.modal-header h2, .modal-footer h3{
    margin:0;
}

.modal-header{
    background: #343a40!important;
    padding: .3em;
    /* color:#fff; */
    display:flex;
    flex-direction: row;
    justify-content: flex-between;
    align-items: center;
}

.close {
    margin: 0;
    color: white;
}
.alert{
    text-align: center;
}
.warning-close{
    color: black;
}
.close2{
    color: black;
    background: transparent;
    border: none;
}
.projectAlert{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}