<!-- <div class="backdrop" [ngStyle]="{'display':display}"></div> -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Portfolio</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="container-fluid">  
                        <form>
                        <!-- email and picute link  -->
                            <div class="row top-page">
                            <div class= "col-md-6 form-label-group">
                                <label for="inputEmail">Email:</label>
                                <input type="text" id="inputEmail" class="form-control" placeholder="">
                            </div>
                            <div class= "col-md-6 form-label-group">
                                <label for="inputPicLink">Picture Link:</label>
                                <input type="text" id="inputPicLink" class="form-control" placeholder="">
                            </div>
                            </div>

                            <!-- personal icons -->
                            <div class="personalIcon">
                            <label for="inputIcon">Pick a personal icon:</label>
                            <fieldset class="form-group">
                                <div class="row">
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="gridRadios1" value="option1" name="gridRadios">
                                        <label class="form-check-label" for="gridRadios1"><img src="assets/img/monitor-2.png" alt=""></label>
                                    </div>
                                    </div>
                                    <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="gridRadios2" value="option2" name="gridRadios">
                                        <label class="form-check-label" for="gridRadios2"><img src="assets/img/monitor-3.png" alt=""></label>
                                    </div>
                                    </div>
                                    <div class="col-md-2">
                                    <div class="form-check ">
                                        <input class="form-check-input" type="radio" id="gridRadios3" value="option3" name="gridRadios">
                                        <label class="form-check-label" for="gridRadios3"><img src="assets/img/network.png" alt=""></label>
                                    </div>
                                    </div>
                                    <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="gridRadios4" value="option4" name="gridRadios">
                                        <label class="form-check-label" for="gridRadios4"><img src="assets/img/responsive-design-symbol.png" alt=""></label>
                                    </div>
                                    </div>
                                    <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="gridRadios5" value="option5" name="gridRadios">
                                        <label class="form-check-label" for="gridRadios5"><img src="assets/img/meeting.png" alt=""></label>
                                    </div>
                                    </div>
                                </div>
                            </fieldset>
                            </div>

                            <!-- resume url -->
                            <div class= "form-label-group">
                            <label for="inputResume">Resume Link:</label>
                            <input type="text" id="inputResume" class="form-control" placeholder="">
                            </div>
                            <!-- Github -->
                            <div class= "form-label-group">
                            <label for="inputGit">Github Account:</label>
                            <input type="text" id="inputGit" class="form-control" placeholder="">
                            </div>
                            <!-- LinkedIn -->
                            <div class= "form-label-group">
                            <label for="inputLink">LinkedIn Account:</label>
                            <input type="text" id="inputLink" class="form-control" placeholder="">
                            </div>

                            <!-- Selected skills -->
                            <div class="selectSkills">
                            <label for="inputSkills">Select Your Skills:</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                        Angular
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                        Bootstrap
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                        <label class="form-check-label" for="defaultCheck3">
                                        C
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                        <label class="form-check-label" for="defaultCheck4">
                                        C#
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                        <label class="form-check-label" for="defaultCheck5">
                                        C++
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                        <label class="form-check-label" for="defaultCheck6">
                                        CSS
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                                        <label class="form-check-label" for="defaultCheck7">
                                        HTML
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                                        <label class="form-check-label" for="defaultCheck8">
                                        JavaScript
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                                        <label class="form-check-label" for="defaultCheck9">
                                        MangoDB
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                        <label class="form-check-label" for="defaultCheck10">
                                        mySQL
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                                        <label class="form-check-label" for="defaultCheck11">
                                        NodeJS
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                                        <label class="form-check-label" for="defaultCheck12">
                                        PHP
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                                        <label class="form-check-label" for="defaultCheck13">
                                        Postgres
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                                        <label class="form-check-label" for="defaultCheck14">
                                        Python
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                                        <label class="form-check-label" for="defaultCheck1">
                                        R
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
                                        <label class="form-check-label" for="defaultCheck2">
                                        Ruby
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
                                        <label class="form-check-label" for="defaultCheck3">
                                        SAS
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
                                        <label class="form-check-label" for="defaultCheck4">
                                        SASS
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck19">
                                        <label class="form-check-label" for="defaultCheck5">
                                        Selenium
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck20">
                                        <label class="form-check-label" for="defaultCheck6">
                                        SQL
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck21">
                                        <label class="form-check-label" for="defaultCheck7">
                                        Wordpress
                                        </label>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- number of projects -->
                            <div class= "allProjects">
                            <div class="form-group row">
                                <label for="inputProj1Link" class="col-md-1.5 col-form-label">Project 1 Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj1Link" class="form-control" placeholder=""> 
                                </div>
                                <label for="inputProj1SS" class="col-md-1.5 col-form-label">Screenshot Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj1SS" class="form-control" placeholder=""> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputProj2Link" class="col-md-1.5 col-form-label">Project 2 Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj2Link" class="form-control" placeholder=""> 
                                </div>
                                <label for="inputProj2SS" class="col-md-1.5 col-form-label">Screenshot Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj2SS" class="form-control" placeholder=""> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputProj3Link" class="col-md-1.5 col-form-label">Project 3 Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj3Link" class="form-control" placeholder=""> 
                                </div>
                                <label for="inputProj3SS" class="col-md-1.5 col-form-label">Screenshot Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj3SS" class="form-control" placeholder=""> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputProj4Link" class="col-md-1.5 col-form-label">Project 4 Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj4Link" class="form-control" placeholder=""> 
                                </div>
                                <label for="inputProj4SS" class="col-md-1.5 col-form-label">Screenshot Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj4SS" class="form-control" placeholder=""> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputProj5Link" class="col-md-1.5 col-form-label">Project 5 Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj5Link" class="form-control" placeholder=""> 
                                </div>
                                <label for="inputProj5SS" class="col-md-1.5 col-form-label">Screenshot Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj5SS" class="form-control" placeholder=""> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputProj6Link" class="col-md-1.5 col-form-label">Project 6 Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj6Link" class="form-control" placeholder=""> 
                                </div>
                                <label for="inputProj6SS" class="col-md-1.5 col-form-label">Screenshot Link:</label>
                                <div class="form-group col-md-4">
                                    <input type="text" id="inputProj6SS" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            </div>
                        

                        </form>
                    <!-- end of container  -->
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="save btn btn-md btn-block btn-primary" (click)="save()">Save</button> 
            </div>
        </div>
    </div>
</div>


