<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Picture</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="container-fluid">
                        <div class="profilePic">
                            <img src="../assets/img/website/employees.png" alt="">
                        </div>
                        <div class="alert alert-info" role="alert">
                            Your picture needs to be imported as a square
                        </div>
                        <form>
                            <div class="form-group">
                              <!-- <label for="exampleFormControlFile1">Example file input</label> -->
                              <!-- <input type="file" class="form-control-file" id="exampleFormControlFile1"> -->
                            </div>
                          </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="save btn btn-md btn-block btn-secondary" (click) = "update()">Save</button>
            </div>
            <!-- <div class="alert alert-success" *ngIf="updateSuccess">Update successful!</div> -->
        </div>
    </div>
</div>

