<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Picture</h4> 
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="container-fluid">  
                        <div class="profilePic">
                            <img [src]="url" alt=" ">
                        </div>  
                        <hr>
                        <div class="alert alert-info" role="alert">
                            Your picture needs to be imported as a square
                        </div>
                        <!-- <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div> -->
                        <form>
                            <input type='file' (change)="readUrl($event)" >
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer"> 
                <button type="button" class="save btn btn-md btn-block btn-secondary" (ngSubmit)="onSubmit()">Save</button> 
            </div>
            <!-- <div class="alert alert-success" *ngIf="updateSuccess">Update successful!</div> -->
        </div>
    </div>
</div>

  