h1{
    padding-top: 1em;
}

img {
    height: 60vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 4px;
}

button{
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 420px;
}


