<div class="container">
    <div class="container-fluid">       
        <div class="text-center mb-4">
            <h1 class=" h3 mt-5 mb-3 font-weight-normal">showOff</h1>
            <img src="assets/img/curriculum.png" alt="showOff Logo Img Temporary">
        </div>

        <button type="button" class="btn btn-lg btn-block btn-primary" type="button" routerLink="/login-page">Login</button> 
        <button type="button" class="btn btn-lg btn-block btn-primary" type="button" routerLink="/adv-search">Search for a developer</button>
    </div>
</div>