<div class="container">
    <div class="container-fluid">       
        <div class="text-center mb-4">
            <h1 class="">ShowOff</h1>
            <a><img src="https://storage.googleapis.com/show_off/business_deal.jpg" alt="showOff Logo Img Temporary"></a>
        </div>

        <button type="button" class="btn btn-lg btn-block btn-secondary" type="button" routerLink="/login-page">Login</button> 
        <button type="button" class="btn btn-lg btn-block btn-secondary" type="button" routerLink="/adv-search">Search for a developer</button>
    </div>
</div>