h1{
    padding-top: 1em;
}

/* img {
    height: 60vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 4px;
} */

img {
    max-width: 70%;
    height: auto;
}

button{
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 420px;
}

.imageLogo {
    max-width: 30%;
    padding: 10px 0;
}


@media only screen and (max-width: 768px) {
    img {
        max-width: 70%;
        height: auto;
    }
  }