.form-signin {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.logotext {
    padding-top: 9%;
}

img {
    width: 50%;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
    background-color: #1B4B5A;
}
.backButton {
    position: absolute;
    /* color: #1B4B5A; */
}