<div class="container">
    <div class="container-fluid">
        <header>
            <div class="peopleImage">
                <div class="backButton">
                    <a href="" routerLink="/"><i class=" backButton3 fas fa-arrow-circle-left fa-3x"></i></a>
                </div>
                <div class="text-center mb-4">                        
                    <img src="../assets/img/website/showoff-logo.png" class="imageLogo logotext" alt="showOff Logo">
                </div>
            </div>
        </header>
        
            <form (ngSubmit)="onSubmit()" class="form-signin" [formGroup]="form">       
                <div class="form-label-group">
                    <input type="email" id="inputUsername" class="form-control" placeholder="Username" formControlName="username" required autofocus>
                </div>
                <div *ngIf="form.controls"></div>
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required>
                </div>
                <div class="checkbox mb-3">
                    <label for="">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                    <button class="btn btn-lg btn-block btn-secondary" type="submit">Sign in</button>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" routerLink="/forgot-password">Forgot Password?</button>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" routerLink="/register">Register A New Account</button>
                <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
            </form>
        
    </div> 
</div>