.form-signin {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.logotext {
    padding-top: 9%;
}

img {
    width: 70vh;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.backButton2 {
    padding-top: 10px;
    color: #DDDEDE;
}

.coverImage {
    min-width: 100%;
    background-size : cover;
    background-image: url("https://storage.googleapis.com/show_off/text.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

/* a:hover {
    background-color: #A5C05B;
  } */
