.form-signin {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.logotext {
    padding-top: 9%;
}

header {
    padding: 0%;
    min-height: 20%;
    background-position: center;
    background-image: url("https://storage.googleapis.com/show_off/rawpixel-com-567026-unsplash.jpg");
    background-repeat: no-repeat;
    background-size : cover;
    position: relative;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.backButton3 {
    padding-top: 10px;
    color: #DDDEDE;
}

body {
    background-color: #7BA4A8;
}

/* a:hover {
    background-color: #A5C05B;
  } */
