<div class="container">
    <div class="coverImage">
        <div class="container-fluid">
            <div class="backButton">
                <a href="" routerLink="/"><i class=" backButton2 fas fa-arrow-circle-left fa-3x"></i></a>
            </div>
            <form class="form-signin">
                <div class="text-center mb-4">
                    <h1 class="mt-5 mb-3 font-weight-normal logotext">ShowOff</h1>
                    <img src="https://storage.googleapis.com/show_off/rawpixel-com-567026-unsplash.jpg" alt="showOff Logo Img Temporary">
                </div>
                <div class="form-label-group">
                    <input type="email" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <div class="checkbox mb-3">
                    <label for="">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                    <button class="btn btn-lg btn-block btn-secondary" type="submit">Sign in</button>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" >Forgot Password?</button>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" routerLink="/register">Register A New Account</button>
                <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
            </form>
        </div>
    </div> 
</div>