<div class="container">
    <div class="container-fluid">
        <header>
            <div class="peopleImage">
                <div class="backButton">
                    <a href="" routerLink="/"><i class=" backButton3 fas fa-arrow-circle-left fa-3x"></i></a>
                </div>
                <div class="text-center mb-4">
                        <h1 class="coloredText mt-5 mb-3 font-weight-normal logotext">ShowOff</h1>
                </div>
            </div>
        </header>
        <body>
            <form class="form-signin">       
                <div class="form-label-group">
                    <input type="email" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <div class="checkbox mb-3">
                    <label for="">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                    <button class="btn btn-lg btn-block btn-secondary" type="submit">Sign in</button>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" >Forgot Password?</button>
                    <button class="btn btn-lg btn-block btn-secondary" type="button" routerLink="/register">Register A New Account</button>
                <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
            </form>
        </body>
    </div> 
</div>