<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div><!-- left div -->
        <div class="container">
            <img src="https://storage.googleapis.com/show_off/resume.png">
            <a class="navbar-brand">
                <h5 class="text-white bg-dark no_margin">ShowOff</h5>
            </a>
        </div>
    </div>
    <div class="nav-right-div">
        <form class="form-inline">
            <ul class="nav justify-content-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </ul>
            <button class="form-inline logoff-button btn btn-outline-success my-2 my-sm-0" type="submit">Log Off</button>
        </form>
        
            
        
    </div>
</nav>
<router-outlet></router-outlet>


