<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div><!-- left div -->
        <img class="logoResize" src="../assets/img/website/showoff-logo-no-border.png">
        <!-- <a class="navbar-brand">
            <h5 class="bg-dark no_margin">ShowOff</h5>
        </a> -->
    </div>
    <div class="nav-right-div">
        <form class="nav-bar-form form-inline">
            <ul class="nav justify-content-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <div class="doubleButtons">
                    <button class="btn nav-bar-search-button" type="submit">Search</button>
                    <button class="logoff-button btn " type="submit">Log Off</button>
                </div>
            </ul>
        </form>  
    </div>
</nav>
<div class="outletContainer">
    <router-outlet></router-outlet>
</div>
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/custom.css" rel="stylesheet"> -->


