<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div class="resizeCenter"> <!-- left div -->
      <!-- <a routerLink="newRoute><img class="logoResize" src="../assets/img/website/showoff-logo-no-border.png"></a> -->
      <a href="{{newRoute}}"*ngIf="authCheck()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"(click)="onClickLogo()">
        <img class="logoResize" src="../assets/img/website/showoff-logo-no-border.png">
      </a>
    </div>
    <div class="nav-right-div resizeCenter"> <!-- Right Div -->
        <form class="nav-bar-form form-inline ">
            <ul class="nav justify-content-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <div class="doubleButtons">
                    <button class="btn nav-bar-search-button" type="submit">Search</button>
                    <button *ngIf="authCheck()" (click)="onClickLogOut()" class="logoff-button btn " type="submit">Log Off</button>
                    <!-- <button (click)="onClickLogOut()" class="logoff-button btn " type="submit">Log Off</button> -->
                </div>
            </ul>
        </form>
    </div>
</nav>
<div class="outletContainer">
    <router-outlet></router-outlet>
</div>

