h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0;
}

.form-field {
    margin-top: 20px;
}

.radio-label {
    margin-right: 20px;
}

.submit-row {
    display: flex;
    justify-content: center;
}

.backButton2 {
    padding-top: 10px;
    position: absolute;
    color: #DDDEDE;
}