h1 {
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0;
}

.form-field {
    margin-top: 20px;
}

.radio-label {
    margin-right: 20px;
}

.submit-row {
    display: flex;
    justify-content: center;
}

.backButton {
    position: absolute;
    left: 5%;
    top: 200px;
}