<div> <!-- begin public view component -->
  <div class="public-fake-nav-bar">
    <p>Nav bar will go here!</p>
  </div>
  <div class="public-banner"> <!-- begin banner -->
    <div class="public-user-icon"></div>
    <h1>Your Name Here</h1>
    <div class="public-hamburger">
      <div class="public-hamburger-line public-hamburger-top"></div>
      <div class="public-hamburger-line"></div>
      <div class="public-hamburger-line public-hamburger-bottom"></div>
    </div>
  </div> <!-- end banner -->
  <div class="public-about-me-container">
    <h2 class="text-center">About me</h2>
    <div class="public-about-me-box">
      <div class="public-about-me-box-left">
        <div class="public-about-me-icon"></div>
      </div>
      <div class="public-about-me-box-right">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, expedita quae quod natus pariatur ipsa? Quam recusandae repellat deserunt laudantium similique, nihil ea perferendis, temporibus incidunt, quis doloribus distinctio sapiente!</p>
          <button class="btn btn-success">Get My Resume</button>
      </div>
    </div>
  </div> <!-- end about me container -->
</div> <!-- end public view component -->
