/* BASE COLOR SCHEME: LIGHT GREY: #DDDEDE, BLACKISH: #232122, HOUSEPLANT: #A5C05B, BLUE GREY #7BA4A8 */


/* .public-arimo {
    font-family: 'Muli', 'sans-serif'
} */

/* .public-component {
    font-family: 'Yeseva One', 'cursive'
} */
h2{
    color: rgba(0, 0, 0, 0.644);
}
.public-banner {
    height: 200px;
    border-radius: 10px;
    border: 2px solid #dddede;
    background-color: #dddede;
    color: #232122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0px 20px;
    /* position: fixed; */
    /* top: 10; */
}

.public-user-icon {
    height: 125px;
    width: 125px;
    min-width: 125px;
    border-radius: 50%;
    border: 2px solid #7ba4ab;
    padding-block-start: 40px;
    padding-inline-start: 30px;
    /* background-color: #a5c05b; */
    /* background-image:  */
}

.public-hamburger {
    display: hidden;
    /* height: 100px;
    width: 100px;
    background-color: #7ba4ab;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}

.public-hamburger-line {
    width: 75px;
    height: 5px;
    border-radius: 1px;
    background-color: #dddede;
}

.public-hamburger-top {
    margin-top: 15%;
}

.public-hamburger-bottom {
    margin-bottom: 15%;
}

.public-about-me-container {
    margin-top: 40px;
}

.public-about-me-box {
    border: 3px solid #a5c05b;
    background-color: #a5c05b;
    min-height: 185px;
    height: 100%;
    /* margin-left: 20px;
    margin-right: 20px; */
    border-radius: 10px;
}

.public-about-me-box-left {
    width: 20%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5c05b;
}

.public-about-me-box-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
}

.public-about-me-icon {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.public-about-me-pic{
  height: 175px;
    width: 175px;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.public-skills-container {
    margin-top: 40px;
    /* background-color: #a5c05b; */
}

.public-icon-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.public-icon {
    height: 50px;
    width: 50px;
    border: 2px solid #232122;
}

.public-projects-container {
    margin-top: 40px;
}

.public-projects-container h2 {
    margin-bottom: 20px;
}

.public-project-thumbnail {
    height: 200px;
    border: 3px solid #7ba4ab;
    background-color: #232122;
}

.public-projects-none {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Your projects here!"
}

.public-contact-container {
    margin-top: 40px;
    background-color: #dddede;
    border-radius: 10px;
}

.public-contact-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;

}

.public-contact-icon-box p {
    margin: 0;
    margin-top: 10px;
}

.public-contact-icon {
    height: 50px !important;
    width: 50px !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.public-icon-email {
    background-image: url(./../../../assets/img/contact/black-envelope-64.png);
}

.public-icon-phone {
    background-image: url(./../../../assets/img/contact/smartphone-call.png);
}

.public-icon-site {
    background-image: url(./../../../assets/img/contact/internet.png);
}

.public-icon-github {
    background-image: url(./../../../assets/img/contact/github-logo.png);
}

.public-contact-text {
  color: #a5c05b;
}

.public-icon-box {
  width: 100px;
  height: 100px
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;
  content: center !important;
}

.modal {
  content: center;
}

object {
  height: 500px;
  width: 1000px;
  margin: -250px;
  position: fixed;
  margin-top: 0px;
}

/* @media screen and (max-width: 633px) {
  #myModal {
      display: 100%;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #myModal, #myModal * {
    visibility:visible;
  }
  #myModal {
    position:absolute;
    left:0;
    top:0;
  }
} */



