<div class="public-component"> <!-- begin public view component -->
  <div class="public-banner"> <!-- begin banner -->
    <div class="public-user-icon">
      <img src="{{ activeIcon || '' }}" alt="">
    </div>
    <h1>{{ profileData?.FirstName }} {{ profileData?.LastName }} </h1>
    <div class="public-hamburger">
    </div>
  </div> <!-- end banner -->
  <div class="container public-about-me-container">
    <!-- <h2 class="text-center">About me</h2> -->
    <div class="row public-about-me-box">
      <div class="col-md-12">
          <h2 class="text-center">About me</h2>
      </div>
      <div class="col-md-3  public-about-me-box-left">
        <div class="public-about-me-icon">
            <img class="public-about-me-pic"[src]="theirImage || '../assets/img/website/employees.png'" alt="" >
        </div>
      </div> <!-- end left side of about me (icon) -->
      <div class="col-md-9 public-about-me-box-right">
        <p> {{ portfolioData?.AboutBlurb }} </p>
        <div>
            <a data-toggle="modal" data-target="#myModal">
              <button class="btn btn-secondary">Get My Resume</button>
            </a>
        </div>
        <!-- fa-file-pdf-o sr-icons -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <object data="./../../../assets/img/website/FoxResume.pdf" type="application/pdf" width="100%" height="100%">
                  <!-- <p> {{ portfolioData?.Resume }} </p> -->
                  <!-- <p class="text-faded">Your computer does not support Adobe:<a {{ portfolioData?.Resume }}> to the PDF!</a></p> -->
                    </object>
                </div>
            </div>
        </div>
        <p></p>
      </div><!-- end right side of about me (text blurb/resume button) -->
    </div> <!-- end about me box -->
  </div> <!-- end about me container -->
  <div class="public-skills-container container">
    <h2 class="text-center">My Skills</h2>
    <!-- <div class="public-icon-box row"> -->
      <div class=wrapper>
        <div *ngFor="let skill of trueSkills; let index = index" id="{{ skillsLinks[skill] }}">
          <img class="public-icon-box" src="{{ skillsLinks[skill] }}" alt="{{skill}}">
        </div>
      </div> <!-- end icon box -->
  </div> <!-- end skills container -->
  <div class="public-projects-container">
    <h2 class="text-center" id="projectTitle">My Projects</h2>
    <div class="container">
      <div class="row" id="projectsParent">
        <div *ngFor="let project of projectsArr; let index = index" class="public-project-thumbnail" id="project{{index}}"></div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end public projects container -->
  <div class="public-contact-container container">
    <h2 class="text-center">Contact me</h2>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 public-contact-icon-box">
          <div class="public-contact-icon public-icon-email"></div>
          <!-- this may not have data, but that's ok... then you use a '?' -->
          <p>{{ portfolioData?.Email }}</p>
        </div>
        <div class="col-sm-3 public-contact-icon-box">
          <div class="public-contact-icon public-icon-github"></div>
          <p>{{ profileData?.GitHubURL }}</p>
        </div>
        <div class="col-sm-3 public-contact-icon-box">
          <div class="public-contact-icon public-icon-phone"></div>
          <p>{{ portfolioData?.PhoneNumber }}</p>
        </div>
        <div class="col-sm-3 public-contact-icon-box">
          <div class="public-contact-icon public-icon-site"></div>
          <p>{{ profileData?.Website }}</p>
        </div>
      </div> <!-- end bootstrap row class -->
    </div> <!-- end bootstrap container class -->

  </div> <!-- end contact container -->
</div> <!-- end public view component -->
