/* BASE COLOR SCHEME: LIGHT GREY: #DDDEDE, BLACKISH: #232122, HOUSEPLANT: #A5C05B, BLUE GREY #7BA4A8 */

.public-fake-nav-bar {
    height: 50px;
    background-color: #232122;
    color: #dddede;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
}

.public-banner {
    height: 200px;
    border-radius: 10px;
    border: 2px solid #7ba4ab;
    color: #232122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0px 20px;
}

.public-user-icon {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 2px solid #7ba4ab;
    margin-left: 50px;
}

.public-hamburger {
    height: 100px;
    width: 100px;
    background-color: #7ba4ab;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.public-hamburger-line {
    width: 75px;
    height: 5px;
    border-radius: 1px;
    background-color: #dddede;
}

.public-hamburger-top {
    margin-top: 15%;
}

.public-hamburger-bottom {
    margin-bottom: 15%;
}

.public-about-me-container {
    margin-top: 40px;
}

.public-about-me-box {
    border: 3px solid #a5c05b;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.public-about-me-box-left {
    width: 20%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5c05b;
    height: 100%
}

.public-about-me-box-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
}

.public-about-me-icon {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #232122;
}

.public-skills-container {
    margin-top: 40px;
}

.public-icon-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.public-icon {
    height: 50px;
    width: 50px;
    border: 2px solid #232122;
}

.public-projects-container {
    margin-top: 40px;
}

.public-projects-container h2 {
    margin-bottom: 20px;
}

.public-project-thumbnail {
    height: 200px;
    border: 3px solid #7ba4ab;
    background-color: #232122;
}

.public-contact-container {
    margin-top: 40px;
}

.public-contact-icon-box {
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.public-contact-icon-box p {
    margin: 0;
    margin-top: 10px;
}

.public-contact-icon {
    height: 50px;
    width: 50px;
    background-size: contain;
}

.public-icon-email {
    background-image: url(./../../../assets/img/public-icons/black-envelope-64.png);
}

.public-icon-phone {
    background-image: url(./../../../assets/img/public-icons/smartphone-call.png);
}

.public-icon-site {
    background-image: url(./../../../assets/img/public-icons/internet.png);
}

.public-icon-github {
    background-image: url(./../../../assets/img/public-icons/github-logo.png);
}